# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pipeline/storage
spl/data/*.pt
spl/data/state/*
spl/data/batch.json
spl/data/targets.json
spl/data/gradients/*
spl/out.txt
spl/abis/*
spl/sot.log
spl/perplexity_plot.png