# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pipeline/storage
spl/sot/data/*.safetensors
spl/sot/data/state
spl/sot/data/state/*
spl/sot/data/gradients/*
spl/out.txt
spl/sot.log
spl/loss_plot.png

spl/venv/*
venv/*

spl/logs/*

spl/deploy/cloud_adapters/runpod_config.py

*.db