# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pipeline/storage
spl/data/*.pt
spl/data/state
spl/data/state/*
spl/data/gradients/*
spl/out.txt
spl/sot.log
spl/loss_plot.png
spl/data/master_wallets.json
spl/data/master_public_keys.json

spl/logs/*

spl/deploy/cloud_adapters/runpod_config.py