torch
fairscale
tiktoken
fair
blobfile
eth-abi
web3>=6.0.0,<7.0.0
datasets
psutil
paramiko
runpod
quart
requests-toolbelt
Hypercorn
uvicorn
quart-cors
aiohttp
safetensors
supertokens-python

aiosqlite
sqlalchemy
sqlalchemy[asyncio]